<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/_layout.html}">
<div layout:fragment="content">
<!-- 상품 상세 시작 -->
    <section class="bg-light">
        <div class="container pb-5">
                <form th:action="@{/order/addForm}" th:method="post">
                    <input hidden="true" type="text" th:unless="${member == null}" th:field="${member.id}" th:id="memberId" />
                    <input hidden="true" type="text" th:field="${item.id}" th:id="itemId" />
                    <div class="row">
                    <div class="col-lg-5 mt-5">
                        <div class="card mb-3">
                            <img class="card-img img-fluid"  th:src="|/admin/item/images/${item.uploadFiles[0].storeFileName}|" id="product-detail">
                        </div>
                        <div class="row">
                            <th:block th:each="sfile : ${item.uploadFiles}">
                                <div class="col-4">
                                    <a href="#">
                                        <img class="card-img img-fluid" th:src="|/admin/item/images/${sfile.storeFileName}|">
                                    </a>
                                </div>
                            </th:block>
                        </div>
                    </div>
                    <!-- col end -->
                    <div class="col-lg-7 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h1 class="h2" th:text="${item.itemName}">Active Wear</h1>
                                <input th:type="text" hidden="true"  th:value="${item.id}" th:field="${item.id}"></input>
                                <input class="h3 py-2 border-0" th:readonly="true" th:hidden="true" th:id="itemPrice" th:field="${item.price}" />
                                <p th:text="|${item.price} 원|"></p>
                                <p class="py-2">
                                    <i class="fa fa-star text-warning"></i>
                                    <i class="fa fa-star text-warning"></i>
                                    <i class="fa fa-star text-warning"></i>
                                    <i class="fa fa-star text-warning"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <span class="list-inline-item text-dark d-none">Rating 4.8 | 36 Comments</span>
                                </p>
                                <h6>상세 설명</h6>
                                <textarea class="border-0" th:text="${item.description}"/>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <h6>색상 :</h6>
                                    </li>
                                    <li th:each="color : ${item.colorList}" class="form-check form-check-inline">
                                        <input type="radio" th:field="${item.selectedColor}" th:value="${color.name}" class="form-check-input">
                                        <label class="badge text-bg-secondary p-2 me-2"><strong th:text="${color.name}"></strong></label>
                                    </li>
                                </ul>
                                <input type="hidden" name="product-title" value="Activewear">
                                <div class="row">
                                    <div class="col-auto">
                                        <ul class="list-inline pb-3">
                                            <li th:each="size : ${item.sizeList}" class="form-check form-check-inline">
                                                <input type="radio" th:field="${item.selectedSize}" th:value="${size.name}" class="form-check-input">
                                                <label class="badge text-bg-light p-2 me-2"><strong th:text="${size.name}"></strong></label>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-auto">
                                        <ul class="list-inline pb-3">
                                                <li class="list-inline-item"  id="btn-minus">
                                                    <span class="btn btn-success">-</span>
                                                </li>
                                            <li class="list-inline-item">
                                                <input style="width: 40px; border:none; text-align: center;"
                                                       type="text"
                                                       th:id="orderQuantity"
                                                th:field="${item.orderQuantity}"/>
                                            </li>
                                            <li class="list-inline-item"  id="btn-plus">
                                                <span class="btn btn-success">+</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <th:block th:unless="${warning == null}">
                                    <div th:text="${warning}"></div>
                                </th:block>
                                <div class="row pb-3">
                                    <div class="col d-grid">
                                        <button type="submit" class="btn btn-success btn-lg" th:text="#{button.order}" ></button>
                                    </div>
                                    <div class="col d-grid">
                                        <a type="button" class="btn btn-success btn-lg" th:onclick="'javascript:askToCart()'" th:text="#{button.cart}">Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    </div>
                </form>
        </div>
    </section>
<!-- 상품 상세 종료 -->
    <script>

        let quantity =$("#orderQuantity");
        let minusBtn = document.querySelector("#btn-minus");
        let plusBtn = document.querySelector("#btn-plus");


        minusBtn.onclick = function (){

            if(quantity.text() =='') return;
            quantity.text((parseInt(quantity.text()) -1).toString());
            quantity.attr("value",quantity.text());
        }
        plusBtn.onclick = function (){
            console.log(quantity);
            if(quantity.text() =='') {
                quantity.text(0);
            }
            quantity.text((parseInt(quantity.text()) + 1).toString());
            quantity.attr("value",quantity.text());

        }

        function askToCart(){
            console.log("장바구니로직");
            //장바구니 로직
            const memId = $("#memberId").val();
            const itemid = $("#itemId").val();
            const orderPrice = $("#itemPrice").val();
            const color = $('input[name="selectedColor"]:checked').val();
            const size = $('input[name="selectedSize"]:checked').val();
            const quant = $("#orderQuantity").val();
            console.log(quant);
            console.log(memId);
            if(memId == null || memId ==''){
                alert("로그인 후 이용가능 합니다.");
                return;
            }
            const SendDTO = {
                itemId: itemid,
                memId:memId,
                quantity:parseInt(quant),
                orderPrice:parseInt(orderPrice),
                color:color,
                size:size,
            };
            $.ajax({
                url: "/cart/add",
                data: SendDTO,
                type: 'POST',
                error: function() {
                    console.log('통신실패!!');
                },
                success: function(data) {

                    if(confirm("장바구니에 담겼습니다. 장바구니로 이동하시겠습니까?")){
                        let newForm = document.createElement("form");
                        newForm.setAttribute("method", "GET");
                        newForm.setAttribute("action", "/cart/list/1");
                        $(document.body).append(newForm);
                        newForm.submit();
                    }else{
                        // 다시 화면으로 돌아갑니다.
                        location.href="/item/detail/"+itemid;
                    }
                }
            });

        }
    </script>

</div>

</html>