<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/_layout.html}">
<div  layout:fragment="content" class="container-fluid">
    <!-- 주문서 시작 -->
    <div class="container">
        <div id="order">
            <div class="page-body">
                <form  th:action="@{/order/save}"  th:object="${order}" method="post">
                    <fieldset>
                        <legend class="text-center fw-bold py-5" style="border-bottom:2px solid;">주문서</legend>

                        <!--h3>주문리스트</h3-->
                        <div class="tbl-order" style="border-top:0; border-bottom:1px solid;">
                            <table>
                                <caption>주문리스트</caption>
                                <colgroup>
                                    <col style="width: 200px">
                                    <col style="width: 400px">
                                    <col style="width: 100px">
                                    <col style="width: 100px">
                                    <col style="width: 100px">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th scope="col"><div class="tb-center"></div></th>
                                    <th scope="col"><div class="tb-center">상품명</div></th>
                                    <th scope="col"><div class="tb-center">수량</div></th>
                                    <th scope="col"><div class="tb-center">색상</div></th>
                                    <th scope="col"><div class="tb-center">사이즈</div></th>
                                    <th scope="col"><div class="tb-center">가격</div></th>
                                </tr>
                                </thead>
                                <tbody  th:each="orderitem : ${order.orderItem}" th:field="${order.orderItem}" >
                                <tr class="nbg">
                                    <td>
                                        <div class="tb-center">
                                            <div class="thumb">
                                                <a href="/shop/shopdetail.html?branduid=2063559"><img  style="width:100px" src="//cdn1-aka.makeshop.co.kr/shopimages/xexymix/0330040002523.jpg" alt="상품 섬네일" title="상품 섬네일"></a>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="tb-left">
                                           <p style="font-size:11px" th:text="${orderitem.item.itemName}">조거팬츠 1+1</p>
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="tb-center"   th:value="${orderitem.quantity}" th:text="${orderitem.quantity}">1개</div>
                                        <input hidden="true" th:value="${orderitem.quantity}"/>
                                    </td>
                                    <td>
                                        <div class="tb-center"  th:text="${orderitem.color}">680</div>
                                        <input hidden="true"   th:value="${orderitem.color}"/>
                                    </td>
                                    <td>
                                        <div class="tb-center"  th:text="${orderitem.size}">680</div>
                                        <input hidden="true"   th:value="${orderitem.size}"/>
                                    </td>
                                    <td>
                                        <div class="tb-center"  th:text="${orderitem.orderPrice}">
                                            68,800원
                                        </div>
                                        <input hidden="true"   th:value="${orderitem.orderPrice}"/>
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div><!-- .table-order -->

                        <h3 class="m-3">주문자 정보</h3>
                        <div class="tbl-order">
                            <table>
                                <caption>주문자 정보</caption>
                                <colgroup>
                                    <col style="width:200px">
                                    <col>
                                </colgroup>
                                <tbody>
                                <tr>
                                    <th scope="row"><div class="txt-l">이름</div></th>
                                    <td>
                                        <input type="text" class="form-control" th:readonly="true" th:field="${member.name}"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row"><div class="txt-l">이메일</div></th>
                                    <td>
                                        <input type="text" class="form-control" maxlength="20"  th:field="${order.email}">
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row"><div class="txt-l">연락처</div></th>
                                    <td>
                                        <input type="text" class= "form-control contact-input"  th:id="sPhone1" th:field="${order.senderInfo.phone1}" >-
                                        <input type="text"   class="form-control contact-input" th:id="sPhone2" th:field="${order.senderInfo.phone2}" >-
                                        <input type="text"  class="form-control contact-input"  th:id="sPhone3" th:field="${order.senderInfo.phone3}">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div><!-- .tbl-order -->

                        <h3 class="m-3">배송 정보</h3>
                        <label>
                            <input type="checkbox" name="same" id="same"> 위 정보와 같음</label>
                        <div class="tbl-order">
                            <table>
                                <caption>배송 정보 입력</caption>
                                <colgroup>
                                    <col style="width:200px">
                                    <col>
                                    <col style="width:200px">
                                    <col>
                                </colgroup>
                                <tbody>
                                <tr>
                                    <th scope="row"><div class="txt-l">이름</div></th>
                                    <td colspan="3">
                                        <input type="text" name="receiver" id="receiver" class="form-control" th:field="${order.recipientInfo.recipientName}"></td>
                                </tr>
                                <tr>
                                    <th scope="row"><div class="txt-l">연락처</div></th>
                                    <td>
                                        <input type="text"  class="form-control contact-input" th:id="rphone1" th:field="${order.recipientInfo.rphone1}"> -
                                        <input type="text"  class="form-control contact-input" th:id="rphone2" th:field="${order.recipientInfo.rphone2}"> -
                                        <input type="text"  class="form-control contact-input" th:id="rphone3" th:field="${order.recipientInfo.rphone3}">
                                    </td>
                                   </tr>
                                <tr>
                                    <th scope="row"><div class="txt-l">주소</div></th>
                                    <td colspan="3">
                                        <input name="post1" id="zipCode" th:readonly="true" class="form-control d-inline w-80px">
                                        <a  class="btn btn-outline-secondary me-3"   th:href="'javascript:execDaumPostcode()'" th:text="#{button.post-num}"/>우편 번호
                                        <div class="mt-10">
                                            <div class="d-flex">
                                                <input type="text"  th:field="${order.recipientInfo.raddr1}" th:readonly="true" th:id="raddr1" size="50" class="form-control"/><span class="me-2">(로도명 주소)</span>
                                            </div>
                                            <div class="d-flex">
                                                <input type="text" th:field="${order.recipientInfo.raddr2}"  th:id="raddr2" size="50" class="form-control"/><span class="me-2">(나머지 주소)</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row"><div class="txt-l">배송메세지<br><span>(100자내외)</span></div></th>
                                    <td colspan="3">
                                        <textarea  th:field="${order.recipientInfo.deliveryMsg}" th:text="${order.recipientInfo.deliveryMsg}"  cols="50" rows="5" class="form-control" style="width:100%;"></textarea>
                                        <div class="MS_order_ms_count">
                                            <span id="MS_delivery_ms_basis">0</span>/200 bytes
                                            <span class="MS_order_ms_desc">(* 영문/숫자 기준 <span class="MS_order_ms_maxlen_en">200</span>자, 한글 기준 <span class="MS_order_ms_maxlen_en"></span>자까지 입력 가능합니다.)</span>
                                        </div>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div><!-- .tbl-order -->
                        <div class="btn-order-ctrl">
                            <div class="py-3 text-center">
                                <button type="submit"  class="btn btn-outline-warning me-3" th:text="#{button.order}">주문</button>
                                <button type="button"  class="btn btn-outline-secondary me-3" th:onclick="|location.href='@{/login/admin}'|" th:text="#{button.cancel}">취소</button>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div><!-- .page-body -->
        </div>
    </div>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>

        let sameBtn = document.querySelector("#same");
        let memName = document.querySelector("#name");
        let memPhone1 = document.querySelector("#sPhone1");
        let memPhone2 = document.querySelector("#sPhone2");
        let memPhone3 = document.querySelector("#sPhone3");
        let receiverName = document.querySelector("#receiver");
        let rPhone1 = document.querySelector("#rphone1");
        let rPhone2 = document.querySelector("#rphone2");
        let rPhone3 = document.querySelector("#rphone3");

        sameBtn.onclick = function(){
            console.log("벨류 : ",sameBtn.checked);
            if(sameBtn.checked){
                receiverName.value = memName.value;
                receiverName.textContent = memName.value;

                rPhone1.value = memPhone1.value;
                rPhone1.textContent = memPhone1.value;
                rPhone2.value = memPhone2.value;
                rPhone2.textContent = memPhone2.value;
                rPhone3.value = memPhone3.value;
                rPhone3.textContent = memPhone3.value;

            }else{
                receiverName.value = '';
                receiverName.textContent = '';

                rPhone1.value = '';
                rPhone1.textContent = '';
                rPhone2.value = '';
                rPhone2.textContent = '';
                rPhone3.value = '';
                rPhone3.textContent = '';

            }
        }

        function execDaumPostcode(){
            new daum.Postcode({
                oncomplete: function(data) {
                    console.log("data",data);
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분입니다.
                    // 예제를 참고하여 다양한 활용법을 확인해 보세요.
                 //   alert("다음 주소 api 호출");
                    var roadAddr = data.roadAddress;
                    document.getElementById('zipCode').value = data.zonecode;
                    document.getElementById("raddr1").value = roadAddr;
                    //document.getElementById("raddr2").value = data.jibunAddress;
                }
            }).open();

        }



    </script>

</div>
</html>