<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/_layout.html}">
<div layout:fragment="content" class="container-fluid">
    <!-- 주문서 시작 -->
    <div class="container">
        <div id="order">
            <div class="page-body">
                <form th:action="@{/order/save}" th:object="${order}" method="post">
                    <fieldset>
                        <legend class="text-center fw-bold py-5" style="border-bottom:2px solid;">주문서</legend>

                        <!--h3>주문리스트</h3-->
                        <div class="tbl-order" style="border-top:0; border-bottom:1px solid;">
                            <table>
                                <caption>주문리스트</caption>
                                <colgroup>
                                    <col style="width: 200px">
                                    <col style="width: 400px">
                                    <col style="width: 100px">
                                    <col style="width: 100px">
                                    <col style="width: 100px">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th scope="col">
                                        <div class="tb-center"></div>
                                    </th>
                                    <th scope="col">
                                        <div class="tb-center">상품명</div>
                                    </th>
                                    <th scope="col">
                                        <div class="tb-center">수량</div>
                                    </th>
                                    <th scope="col">
                                        <div class="tb-center">색상</div>
                                    </th>
                                    <th scope="col">
                                        <div class="tb-center">사이즈</div>
                                    </th>
                                    <th scope="col">
                                        <div class="tb-center">가격</div>
                                    </th>
                                </tr>
                                </thead>
                                <tbody th:each="orderitem : ${orderItems}" th:field="${orderItems}">
                                <tr class="nbg">
                                    <td>
                                        <div class="tb-center">
                                            <div class="thumb">
                                                <a href="/shop/shopdetail.html?branduid=2063559"><img
                                                        style="width:100px"
                                                        src="//cdn1-aka.makeshop.co.kr/shopimages/xexymix/0330040002523.jpg"
                                                        alt="상품 섬네일" title="상품 섬네일"></a>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="tb-left">
                                            <p style="font-size:11px" th:text="${orderitem.item.itemName}">조거팬츠 1+1</p>
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="tb-center" th:value="${orderitem.quantity}"
                                             th:text="${orderitem.quantity}">1개
                                        </div>
                                        <input hidden="true" th:value="${orderitem.quantity}"/>
                                    </td>
                                    <td>
                                        <div class="tb-center" th:text="${orderitem.color}">680</div>
                                        <input hidden="true" th:value="${orderitem.color}"/>
                                    </td>
                                    <td>
                                        <div class="tb-center" th:text="${orderitem.size}">680</div>
                                        <input hidden="true" th:value="${orderitem.size}"/>
                                    </td>
                                    <td>
                                        <div class="tb-center" th:text="${orderitem.orderPrice}">
                                            68,800원
                                        </div>
                                        <input hidden="true" th:value="${orderitem.orderPrice}"/>
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div><!-- .table-order -->

                        <h3 class="m-3">주문자 정보</h3>
                        <div class="tbl-order">
                            <table>
                                <caption>주문자 정보</caption>
                                <colgroup>
                                    <col style="width:200px">
                                    <col>
                                </colgroup>
                                <tbody>
                                <tr>
                                    <th scope="row">
                                        <div class="txt-l">이름</div>
                                    </th>
                                    <td>
                                        <input type="text" class="form-control" th:field="${member.name}"
                                               th:text="${member.name}"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <div class="txt-l">이메일</div>
                                    </th>
                                    <td>
                                        <input type="text" class="form-control" maxlength="20"
                                               th:field="${member.email}" th:text="${order.email}">
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <div class="txt-l">연락처</div>
                                    </th>
                                    <td>
                                        <input type="text" class="form-control contact-input"
                                               th:field="${order.senderInfo.phone1}"
                                               th:text="${order.senderInfo.phone1}">-
                                        <input type="text" class="form-control contact-input"
                                               th:field="${order.senderInfo.phone2}">-
                                        <input type="text" class="form-control contact-input"
                                               th:field="${order.senderInfo.phone3}">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div><!-- .tbl-order -->

                        <h3 class="m-3">배송 정보</h3>
                        <label>　 <input type="checkbox" name="same" id="same" onclick="copydata()"> 위 정보와 같음</label>
                        <div class="tbl-order">
                            <table>
                                <caption>배송 정보 입력</caption>
                                <colgroup>
                                    <col style="width:200px">
                                    <col>
                                    <col style="width:200px">
                                    <col>
                                </colgroup>
                                <tbody>
                                <tr>
                                    <th scope="row">
                                        <div class="txt-l">이름</div>
                                    </th>
                                    <td colspan="3">
                                        <input type="text" name="receiver" id="receiver" class="form-control"
                                               th:field="${order.recipientInfo.recipientName}"></td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <div class="txt-l">연락처 1</div>
                                    </th>
                                    <td>
                                        <input type="text" th:field="${order.recipientInfo.rphone1}"
                                               class="form-control contact-input"> -
                                        <input type="text" th:field="${order.recipientInfo.rphone2}"
                                               class="form-control contact-input">
                                        -
                                        <input type="text" th:field="${order.recipientInfo.rphone3}"
                                               class="form-control contact-input"></td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <div class="txt-l">배송지 선택</div>
                                    </th>
                                    <td colspan="3">
                                        &nbsp;&nbsp;<input type="radio" value="A" name="place">최근 배송지
                                        &nbsp;&nbsp;<input type="radio" value="B" name="place">신규 배송지
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <div class="txt-l">주소</div>
                                    </th>
                                    <td colspan="3">
                                        <input name="post1" id="post1" size="6" class="form-control d-inline w-80px"
                                               onclick="this.blur();post();">
                                        <button type="button" class="btn btn-outline-secondary me-3"
                                                th:onclick="|location.href='@{/login/admin}'|"
                                                th:text="#{button.post-num}">우편 번호
                                        </button>
                                        <div class="mt-10">
                                            <input type="text" th:field="${order.recipientInfo.raddr1}" size="50"
                                                   class="form-control"/>
                                            <input type="text" th:field="${order.recipientInfo.raddr2}" size="50"
                                                   class="form-control"/>
                                            <input type="number" th:field="${order.totalItemPrice}"
                                                   class="form-control"/>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <div class="txt-l">배송메세지<br><span>(100자내외)</span></div>
                                    </th>
                                    <td colspan="3">
                                        <textarea th:field="${order.recipientInfo.deliveryMsg}"
                                                  th:text="${order.recipientInfo.deliveryMsg}" cols="50" rows="5"
                                                  class="form-control" style="width:100%;"></textarea>
                                        <div class="MS_order_ms_count">
                                            <span id="MS_delivery_ms_basis">0</span>/200 bytes
                                            <span class="MS_order_ms_desc">(* 영문/숫자 기준 <span
                                                    class="MS_order_ms_maxlen_en">200</span>자, 한글 기준 <span
                                                    class="MS_order_ms_maxlen_en"></span>자까지 입력 가능합니다.)</span>
                                        </div>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div><!-- .tbl-order -->

                        <label class="chk-label"> <input type="checkbox" name="modify_address" id="modify_address"
                                                         value="Y"> 해당 배송지 정보를 나의 회원정보로 등록합니다.</label>
                        <!-- //if_not_is_present -->
                        <div class="tbl-order tot-order z-index1">
                            <table>
                                <caption></caption>
                                <colgroup>
                                    <col style="width: 150px">
                                    <col>
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>최종 결제금액</th>
                                    <td>
                                        <strong class="price"><em>
                                            <span id="block_unit_dollar" style="display:none">$</span> <span
                                                id="op_total_price" th:text="${order.totalItemPrice}">66,736</span></em>
                                            <span id="block_unit_won">원</span>
                                        </strong> &nbsp;
                                    </td>
                                </tr>

                                </thead>
                            </table>
                        </div><!-- .tbl-pay -->

                        <div class="btn-order-ctrl">
                            <div class="py-3 text-center">
                                <button type="submit" class="btn btn-outline-warning me-3" th:text="#{button.save}">주문
                                </button>
                                <button type="button" class="btn btn-outline-secondary me-3"
                                        th:onclick="|location.href='@{/order/detail/{id}(id=${order.id})}'|" th:text="#{button.cancel}">취소
                                </button>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div><!-- .page-body -->
        </div>
    </div>
</div>
</body>
</html>