<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="header">
        <meta charset="UTF-8">
        <link th:href="@{/css/bootstrap.min.css}"  href="../css/bootstrap.min.css" rel="stylesheet">
        <link th:href="@{/css/bootstrap-grid.min.css}"  href="../css/bootstrap.min.css" rel="stylesheet">
        <link th:href="@{/css/templatemo.min.css}"  rel="stylesheet">
        <link th:href="@{/css/custom.css}"  rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=Noto+Sans:wght@300&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=Noto+Sans:wght@300&family=Noto+Serif+KR:wght@300;400;500;600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
    <nav class="navbar navbar-expand-lg navbar-light shadow"  th:fragment="nav">
        <div class="container d-flex justify-content-between align-items-center">
            <a class="navbar-brand" href="/">감성</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav flex-fill">
                    <div class="  d-lg-flex justify-content-between">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"  th:text="#{category.man}">
                                남성 의류
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#"  th:text="#{category.man.shirt}" th:href="@{/item/listPage/3}">상의</a></li>
                                <li><a class="dropdown-item" href="#"  th:text="#{category.man.pants}" th:href="@{/item/listPage/{no}(no = 4)}">하의 </a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"  th:text="#{category.woman}">
                                여성 의류
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#"  th:text="#{category.woman.shirt}" th:href="@{/item/listPage/{no}(no = 5)}">상의</a></li>
                                <li><a class="dropdown-item" href="#"  th:text="#{category.man.pants}" th:href="@{/item/listPage/{no}(no = 6)}">하의</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  th:onclick="|location.href='@{/customer/question}'|"  th:text="#{question}">문의</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" th:text="#{cart}"  th:href="@{/cart/list}">장바구니</a>
                        </li>
                    </div>
                </ul>
                <div class="d-flex my-3 align-items-center">
                    <!--<button type="button" class="btn btn-outline-secondary" th:onclick="|location.href='@{/member/joinForm}'|"  th:text="#{login}">로그인</button>-->
                    <div class="me-3" th:unless="${member ==null}" th:text="|${member?.name} 님 반가워요 |">로그인 사용자 이름</div>
                    <div class="d-flex my-3" th:unless="${member ==null}">
                        <div class="nav-icon d-flex align-items-center text-decoration-none me-3"  th:onclick="|location.href='@{/member/editForm(id=${member.id})}'|">
                            <i class="bi bi-person-circle"></i>
                        </div>
                        <div class="nav-icon d-flex align-items-center text-decoration-none me-3"  th:onclick="|location.href='@{/order/list/1}'|">
                            <i class="bi bi-bag-check-fill"></i>
                        </div>
                        <a class="nav-icon d-flex align-items-center text-decoration-none me-3"  th:onclick="'javascript:goCartList()'" >
                            <i class="bi bi-bag-fill"></i>
                           <!-- <span th:if="${cartNum}" th:text="${cartNum}"></span>-->
                        </a>
                        <div class="nav-icon d-flex align-items-center text-decoration-none" th:onclick="|location.href='@{/login/logout}'|">
                            <i class="bi bi-box-arrow-right"></i>
                        </div>
                    </div>

                    <button type="button"  th:if="${member == null}" class="btn btn-outline-secondary me-3" th:onclick="|location.href='@{/login}'|"  th:text="#{login}">로그인</button>
                    <button type="button"  th:if="${member == null}" class="btn btn-outline-secondary me-3" th:onclick="|location.href='@{/login/admin}'|">관리자 화면</button>
                    <button type="button" th:if="${member == null}" class="btn btn-outline-success" th:onclick="|location.href='@{/member/joinForm}'|" th:text="#{join}">회원가입</button>
                </div>
            </div>
        </div>
        <script th:inline="javascript">
            function  goCartList(){

                const userId = [[${member?.id}]];

                if(userId == null || userId == ''){
                    alert("로그인 후 이용가능 합니다.");
                    return;
                }else{
                    console.log("dd");
                    let newForm = document.createElement("form");
                    newForm.setAttribute("method", "GET");
                    newForm.setAttribute("action", "/cart/list/1");
                    $(document.body).append(newForm);
                    newForm.submit();
                }
            }
        </script>
    </nav>

</html>