<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragment/adminHeader :: header}">
    <title>상품 등록</title>
</head>
<body>
<div class="container-fluid">
                    <nav th:replace="~{fragment/adminHeader :: nav}"></nav>
                    <div class="d-flex justify-content-center fs-2 my-5">상품 상세</div>
                    <form th:action="@{/admin/item/save}" method="post" class="col-md-9 m-auto" th:object="${item}" style="width:1000px" enctype="multipart/form-data">
                        <div class="row">
                            <div class="form-group col-md-12 mb-3">
                                <label for="ItemName"   th:text="#{item.name}">Name</label>
                                <div class=" mt-1" id="ItemName"  th:text="*{itemName}"></div>
                            </div>
                                <div class="form-group col-md-6 mb-3">
                                    <label for="Price" th:text="#{item.price}"></label>
                                    <div class="mt-1" id="Price"  th:text="*{price}"></div>
                                </div>
                                <div class="form-group col-md-12 mb-3">
                                    <label for="Description" th:text="#{item.description}"></label>
                                    <div  class=" mt-1" id="Description"  th:text="*{description}"></div>
                                </div>
                            <div class="form-group col-md-6 mb-3">
                                <label for="Description" >상품 색상</label>
                                <div  class="form-check form-check-inline">
                                    <span th:each="color : *{colorList}" th:text="${color.name}" class="badge text-bg-secondary p-2 me-2"></span>
                                </div>
                            </div>
                        <div class="form-group col-md-6 mb-3">
                            <label >상품 크기</label>
                            <div class="form-check form-check-inline">
                                <span th:each="size : *{sizeList}"  th:text="${size.name}" class="badge text-bg-light p-2 me-2"></span>
                        </div>
                        </div>
                        <div class="form-group col-md-12 mb-3">
                            <div id="image_container">
                                <img class="me-3" th:each="file : ${item.uploadFiles}" th:src="|/admin/item/images/${file.storeFileName}|" width="100"/>
                            </div>

                        </div>
                        <div class="d-flex justify-contents-right">
                            <button type="button" class="btn btn-primary me-3" style="width:100px" th:text="#{button.edit}" th:onclick="|location.href='@{/admin/item/{id}/edit(id =${item.Id})}'|"></button>
                            <button type="button" class="btn btn-secondary me-3" style="width:100px" th:text="#{button.remove}" th:onclick="|location.href='@{/admin/item/delete}'|"></button>
                            <button type="button" class="btn btn-secondary"  style="width:100px" th:text="#{button.cancel}"  th:onclick="|location.href='@{/admin/item/list}'|"  ></button>
                        </div>
        </div>
    </form>
</div>
</body>
</html>