<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:insert="~{fragment/adminHeader :: header}">
    <meta charset="UTF-8">
    <title>상품 목록</title>
</head>
<body class="container-fluid">
<nav th:replace="~{fragment/adminHeader :: nav}"></nav>
<div class="align-center container mt-5">
    <table class="table text-center">
        <thead>
        <tr>
            <th scope="col">#</th>
        <th scope="col">상품 명</th>
        <th scope="col">상품 가격</th>
        <th scope="col">등록 일자</th>
        <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item, itemStat : ${items}">
            <th th:text="${itemStat.count}"></th>
            <th th:text="${item.itemName}"></th>
            <td th:text="${item.price}"></td>

            <td><button type="button" class="btn btn-outline-info"  th:onclick="|location.href='@{/admin/item/{id}/detail (id=${item.Id})}'|">상세 보기</button></td>
        </tr>

        </tbody>
    </table>
</div>
</body>
</html>